{% extends "base.html" %}

{%block title%}Index!{%endblock%}

{%block main_content%}

	<h1>Road To Russia</h1>
	<div class="row">
		<div class="span4">
			<img src="http://media1.santabanta.com/full5/Football/Neymar/neymar-7a.jpg" class="img-polaroid">
		</div>
		<div class="span4">
			<img src="http://media1.santabanta.com/full5/Football/Cristiano%20Ronaldo/cristiano-ronaldo-28a.jpg" class="img-polaroid">
		</div>
		<div class="span4">
			<img src="http://media1.santabanta.com/full5/Football/Football%20Abstract/football-abstract-42a.jpg" class="img-polaroid">
		</div>
	</div>
</br>
</br>
</br>
<center><h3>Copyright &copy 2017 - 2018 FIFA. All rights reserved.</h3></center>
{%endblock%}
