{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{%block title%}Group fixtures!{%endblock%}

{%block main_content%}

	<h1>Fixtures</h1>

	<div class="row">
		<div class="span12">



			<table class="table">
				<tr>
					<th>Group A</th>
					<th>Group B</th>
					<th>Group C</th>
					<th>Group D</th>
					<th>Group E</th>
					<th>Group F</th>
					<th>Group G</th>
					<th>Group H</th>
				</tr>
				<tr>
					<td>Brazil vs Kenya</td>
					<td>Algeria vs Cameroon</td>
					<td>valor 3</td>
					<td>valor 4</td>
					<td>valor 5</td>
					<td>valor 6</td>
					<td>valor 7</td>
					<td>valor 8</td>
				</tr>
				<tr>
					<td>Brazil vs England</td>
					<td>Ghana vs Côte d'Ivoire</td>
					<td>U.S.A vs Mexico</td>
					<td>Chile vs Colombia</td>
					<td>Russia vs Spain</td>
					<td>Italy vs Portugal</td>
					<td>Ecuador vs Japan</td>
					<td>Uruguay vs Congo</td>
				</tr>
				<tr>
					<td>Kenya vs England</td>
					<td>Côte d'Ivoire vs Algeria</td>
					<td>valor 3</td>
					<td>valor 4</td>
					<td>valor 5</td>
					<td>valor 6</td>
					<td>valor 7</td>
					<td>valor 8</td>
				</tr>
				<tr>
					<td>Brazil vs Iran</td>
					<td>Ghana vs Algeria</td>
					<td>valor 3</td>
					<td>valor 4</td>
					<td>valor 5</td>
					<td>valor 6</td>
					<td>valor 7</td>
					<td>valor 8</td>
				</tr>
			</table>

		</div>
	</div>

{%endblock%}
