{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{%block title%}Group fixtures!{%endblock%}

{%block main_content%}

	<h1>Fixtures</h1>

	<div class="row">
		<div class="span12">



			<table class="table">
				<tr>
					<th>Group A</th>
					<th>Group B</th>
					<th>Group C</th>
					<th>Group D</th>
					<th>Group E</th>
					<th>Group F</th>
					<th>Group G</th>
					<th>Group H</th>
				</tr>
				<tr>
					<td>Brazil vs Kenya</td>
					<td>Algeria vs Cameroon</td>
					<td>U.S.A vs Mexico</td>
					<td>Argentina vs Honduras</td>
					<td>Netherlands vs Switzerland</td>
					<td>Gabon vs Italy</td>
					<td>Costa Rica vs Tanzania</td>
					<td>Morroco vs Sweden</td>
				</tr>
				<tr>
					<td>Brazil vs England</td>
					<td>Ghana vs Côte d'Ivoire</td>
					<td>U.S.A vs Mexico</td>
					<td>Chile vs Colombia</td>
					<td>Russia vs Spain</td>
					<td>Italy vs Portugal</td>
					<td>Ecuador vs Japan</td>
					<td>Uruguay vs Congo</td>
				</tr>
				<tr>
					<td>Kenya vs England</td>
					<td>Côte d'Ivoire vs Algeria</td>
					<td>Switzerland vs Uruguay</td>
					<td>Argentina vs Chile</td>
					<td>Switzerland vs Spain</td>
					<td>Tunisia vs Gabon</td>
					<td>Greece vs Croatia</td>
					<td>Sweeden vs Uruguay</td>
				</tr>
				<tr>
					<td>Brazil vs Iran</td>
					<td>Ghana vs Algeria</td>
					<td>France vs Korea Republic</td>
					<td>Honduras vs Chile</td>
					<td>Netherlands vs Switzerland</td>
					<td>Italy vs Uganda</td>
					<td>Greece vs Japan</td>
					<td>Belgium vs Congo</td>
				</tr>
			</table>

		</div>
	</div>

{%endblock%}
